[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/184389CR
[access "refs/for/refs/*"]
	read = group user/184389CR
	push = group user/184389CR
	label-Code-Review = -2..+2 group user/184389CR
	label-Verified = -1..+1 group user/184389CR
	rebase = group user/184389CR
	removeReviewer = group user/184389CR
	submit = group user/184389CR
[access "refs/heads/*"]
	read = group user/184389CR
	create = group user/184389CR
	push = +force group user/184389CR
	pushMerge = group user/184389CR
[access "refs/tags/*"]
	push = +force group user/184389CR
	createTag = group user/184389CR
	createSignedTag = group user/184389CR
